<h1>  conditional statments</h1>
<div>

   @for(user of users(); track user)
   {
    <li><span>{{user}}</span></li>
   }
</div>
<div>
   @for(user of userdetail(); track user.id)
   {
     <li> <span> {{user.name}}  </span>
        @if($first)
      {<span> admin</span>}
       @if($last)
      {<span> guest</span>}

     </li>
       @if($count==$index+1)  
       {

       <span> total users : {{$count}}</span>
       }

   }


</div>

<hr>

<h1> switch cases</h1>
<select (change)="handlswitch($event)" name="" id="">
    <option value="not started"> Not started</option>
    <option value="loading"> loading</option>
    <option value="success"> success</option>
    <option value="error"> error</option>
</select>
<br>
<br>
@switch (status()) 
{
  @case("not started")
  {
    <span> not started</span>
  }
  @case("success")
  {
    <span> success</span>
  }
@case("loading")
  {
    <span>  loading</span>
  }
@default {
    <span> Error </span>
}

}

<hr>
<h1>{{nam()}}</h1>
<input type="text" [value]="nam()" (input)="nam.set($event.target.value)">
<hr>

<h1>{{age}}</h1>

<input type="text"  [(ngModel)]="age">
<input type="text" [ngModel]="age" (ngModelChange)="age=$event">

<hr>

<h1>{{userdata().name}}</h1>
<input type="text" [value]="userdata().name" (input)="updateuserdata('name',$event.target.value)">

<hr>
<h1> {{uname}}</h1>
<input type="text" [(ngModel)]="uname">

<hr>

<h1> TO DO List </h1>
<input type="text" [value]="titles()" (input)="titles.set($event.target.value)" placeholder="enter text" >
<button (click)="addtask()"> Add Task</button>
<ul>
@for (task of tasks(); track task.id)
{
  <li><span> {{$index +1}}</span>  <span>{{task.title}}</span> <button (click)="delete(task.id)"> Delete</button> </li>
}
@empty
{
  <span> NO task Found</span>
}
</ul>

<hr>

<h2> directives</h2>
<h1 @ngif(islogin())> welcome user</h1>

<div>
<ul *ngFor="let use of uses()">
      <li>{{use}}</li>
</ul>

</div>
<p [ngStyle]="{color:pcolor}"> Hello to angular </p>